*{
    margin: 0;
}


.footer-container{
    background-color: #709995;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 0.9rem;
    display: flex;  

    .ul_footer{
        list-style-type: none;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 4.5rem;
        margin-right: 4.5rem;
        height: 3rem;
        margin-bottom: 0rem;

        .a_footer{
            color: whitesmoke;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.9rem;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

@media (max-width: 376px){
    .footer-container{
        margin-top: 0.6rem;

        ul.ul_footer{
            margin-left: 0.5rem;
            margin:0rem;
            padding: 0rem;
        }

        ul.ul_footer li{
            font-size: 0.6rem;
            padding: 0.3rem;
        }
    }   
}

@media (min-width: 376px) and (max-width: 426px) {
    .footer-container {
        margin-top: 0.6rem;

        ul.ul_footer {
            margin: 0rem;
            padding: 0rem;
          }

          ul.ul_footer li {
            font-size: 0.75rem;
            padding: 0.3rem;
          }  
      }   
}

@media (min-width: 426px) and (max-width: 769px) {
    .footer-container{
        margin-top: 0.6rem;

        ul.ul_footer{
            margin:0rem;
            padding: 0rem;
            display: flex;
            justify-content: space-around;
        }
    }

    ul.ul_footer li{
        font-size: 1rem;
        padding: 0.3rem;
    }
}

@media (min-width: 769px) and (max-width: 1025px){
    .footer-container{
        margin-top: 0.6rem;
        padding: 1rem;

        ul.ul_footer{
            margin:0rem;
            padding: 0rem;
            display: flex;
            justify-content: space-around;
        }
    }

    ul.ul_footer li{
        font-size: 1.25rem;
        padding: 0.3rem;
    }
}

/* Desde 1440px */
@media (min-width: 1439px) and (max-width: 2560px){
    .footer-container{
        margin-top: 0.6rem;
        padding: 1rem;

        ul.ul_footer{
            margin:0rem;
            padding: 0rem;
            display: flex;
            justify-content: space-around;
        }
    }
    ul.ul_footer li{
        font-size: 1.5rem;
        padding: 0.3rem;
    }
}

    
    
        








