@charset "UTF-8";
* {
  font-family: 'Montserrat',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.header-color {
  background-color: #e42121;
  padding-top: 0.5rem;
  margin: 0.1rem;
}

.header-color .navbar-alinear {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  text-decoration: none;
}

.header-color .navbar-alinear a:hover {
  color: #0a58ca;
}

.header-color .container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
}

.header-color .container-logo .logo {
  width: 20rem;
  margin: auto;
}

/* Responsive para Mobile-S (320px) y Mobile-M (375px) */
@media (max-width: 376px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item a.navbar-alinear {
    margin: 0rem;
  }
  img.logo {
    width: 100%;
  }
}

/* Responsive para Mobile-L (425px) */
@media (min-width: 376px) and (max-width: 426px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item a.navbar-alinear {
    margin: 0rem;
  }
  img.logo {
    width: 100%;
  }
}

/* Responsive para table (768px)*/
@media (min-width: 426px) and (max-width: 769px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item a.navbar-alinear {
    margin: 0rem;
  }
  img.logo {
    width: 20rem;
  }
}

/* Responsive para tablet (1024px) */
@media (min-width: 769px) and (max-width: 1025px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.navbar-nav.navbar-alinear li.nav-item {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item a.navbar-alinear {
    margin: 0rem;
  }
  img.logo {
    width: 20rem;
  }
}

* {
  margin: 0;
}

.footer-container {
  background-color: #709995;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .ul_footer {
  list-style-type: none;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  height: 3rem;
  margin-bottom: 0rem;
}

.footer-container .ul_footer .a_footer {
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}

.footer-container .ul_footer a:hover {
  color: #0a58ca;
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
}

@media (max-width: 321px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin-left: 0.5rem;
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.5rem;
    padding: 0.3rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin-left: 0.5rem;
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.6rem;
    padding: 0.3rem;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.75rem;
    padding: 0.3rem;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1rem;
    padding: 0.3rem;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.25rem;
    padding: 0.3rem;
  }
}

/* Desde 1440px */
@media (min-width: 1439px) and (max-width: 2560px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.5rem;
    padding: 0.3rem;
  }
}

.body_contacto {
  /* Define estilo color de fondo */
  background-color: whitesmoke;
  /* Define tipo de fuente */
  font-family: 'Montserrat',sans-serif;
  font-size: 1rem;
  margin: 0.1rem;
  /* Estila título contacto */
}

.body_contacto .header_contacto {
  background-color: #709995;
  color: whitesmoke;
  font-family: 'Montserrat',sans-serif;
  height: 2rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body_contacto .formulario_contacto {
  /* Define márgenes y padding formulario */
  margin-left: 16rem;
  margin-right: 16rem;
  padding: 2rem;
  /* Define home flotante (oculto para mobile y tablet) */
}

.body_contacto .formulario_contacto .espaciado_botones {
  margin-right: 3rem;
}

.body_contacto .formulario_contacto .home-flotante {
  font-size: 2rem;
  position: -webkit-sticky;
  position: sticky;
  left: 92.50%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #212529;
  color: whitesmoke;
  border-radius: 100%;
}

.body_contacto .formulario_contacto .home-flotante i {
  margin-bottom: 2rem;
}

.body_contacto .formulario_contacto .home-flotante :hover {
  color: #0a58ca;
}

/* -------------------------------------------------------------------- */
/* RESPONSIVE */
/* Responsive para Mobile S (320px) y Mobile M (375px) */
@media (max-width: 376px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  .body_contacto .formulario_contacto {
    /* Define márgenes y padding formulario */
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem;
    padding-bottom: 0.5rem;
  }
  .body_contacto .formulario_contacto .espaciado_botones {
    margin-right: 1rem;
  }
  .body_contacto .home-flotante {
    display: none;
  }
}

/* RESPONSIVE PARA MAS DE 376PX HASTA 425PX */
@media (min-width: 376px) and (max-width: 426px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  .body_contacto .formulario_contacto {
    /* Define márgenes y padding formulario */
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem;
    padding-bottom: 0rem;
  }
  .body_contacto .formulario_contacto .espaciado_botones {
    margin-right: 3rem;
  }
  .body_contacto .formulario_contacto .home-flotante {
    font-size: 1rem;
  }
}

/* Desde 426px hasta 769px */
@media (min-width: 426px) and (max-width: 769px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  .body_contacto .formulario_contacto {
    /* Define márgenes y padding formulario */
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem;
    padding-bottom: 0rem;
  }
  .body_contacto .formulario_contacto .espaciado_botones {
    margin-right: 3rem;
  }
  .body_contacto .formulario_contacto .home-flotante {
    font-size: 1.5rem;
  }
}

/* RESPONSIVE PARA MAS DE 768PX HASTA 1025PX */
@media (min-width: 769px) and (max-width: 1025px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  .body_contacto .formulario_contacto {
    /* Define márgenes y padding formulario */
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem;
    padding-bottom: 0rem;
  }
  .body_contacto .formulario_contacto .espaciado_botones {
    margin-right: 3rem;
  }
  .body_contacto .formulario_contacto .home-flotante {
    font-size: 2rem;
  }
  .home-flotante {
    position: -webkit-sticky;
    position: sticky;
    top: 60%;
  }
}

/* Desde 1025px */
@media (min-width: 1025px) and (max-width: 1440px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  .body_contacto .formulario_contacto {
    /* Define márgenes y padding formulario */
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem;
    padding-bottom: 0rem;
  }
  .body_contacto .formulario_contacto .espaciado_botones {
    margin-right: 3rem;
  }
  .body_contacto .formulario_contacto .home-flotante {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=contacto.css.map */