* {
  font-family: 'Montserrat',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.header-color {
  background-color: #e42121;
  padding-top: 0.5rem;
  margin: 0.1rem;
}

.navbar-alinear {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #c7ced1;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
}

.logo {
  width: 20rem;
  margin: auto;
}

* {
  margin: 0;
}

.footer-container {
  background-color: #709995;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .ul_footer {
  list-style-type: none;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  height: 3rem;
  margin-bottom: 0rem;
}

.footer-container .ul_footer .a_footer {
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 376px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin-left: 0.5rem;
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.6rem;
    padding: 0.3rem;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.75rem;
    padding: 0.3rem;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1rem;
    padding: 0.3rem;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.25rem;
    padding: 0.3rem;
  }
}

/* Desde 1440px */
@media (min-width: 1439px) and (max-width: 2560px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.5rem;
    padding: 0.3rem;
  }
}

.body_contacto {
  background-color: whitesmoke;
  font-family: 'Montserrat',sans-serif;
  font-size: 1rem;
  margin: 0.1rem;
}

.header_contacto {
  background-color: #709995;
  color: whitesmoke;
  font-family: 'Montserrat',sans-serif;
  height: 2rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario {
  margin-left: 16rem;
  margin-right: 16rem;
  padding: 2rem;
}

.espaciado_botones {
  margin-right: 3rem;
}

/* MEDIA QUERIES */
/* Hasta 376px */
@media (max-width: 376px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0px;
  }
  li.nav-item {
    margin: 0px;
  }
  a.navbar-alinear {
    margin: 0px;
  }
  .navbar-alinear {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form.formulario {
    margin: 0px;
    padding: 0.3rem;
  }
  fieldset {
    font-size: 1rem;
  }
  input.form-control {
    padding: 0.3px;
    font-size: 1rem;
  }
  div.mb-3 {
    font-size: 1rem;
  }
  div.form-check {
    margin: 0px;
    padding-left: 1rem;
  }
  input#flexRadioDefault1.form-check-input {
    margin-left: -1rem;
    margin-right: 0.3rem;
  }
  input#flexRadioDefault2.form-check-input {
    margin-left: -1rem;
    margin-right: 0.3rem;
  }
  input#flexCheckDefault.form-check-input {
    margin-left: -1rem;
    margin-right: 0.3rem;
  }
  select.form-select {
    font-size: 1rem;
    padding: 0.3rem;
  }
  textarea.form-control {
    font-size: 1rem;
  }
  button.btn.btn {
    font-size: 1rem;
    margin-right: 0.3rem;
  }
}

/* RESPONSIVE PARA MAS DE 376PX HASTA 425PX */
@media (min-width: 376px) and (max-width: 426px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form.formulario {
    margin: 0rem;
    padding: 0.3rem;
  }
  fieldset {
    font-size: 1rem;
  }
  input.form-control {
    padding: 0.3rem;
    font-size: 1rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
  div.mb-3 {
    font-size: 1rem;
  }
  div.form-check {
    margin: 0rem;
    padding-left: 1rem;
  }
  input#flexRadioDefault1.form-check-input {
    margin-left: -1rem;
    margin-right: 0.3rem;
  }
  input#flexRadioDefault2.form-check-input {
    margin-left: -1rem;
    margin-right: 0.3rem;
  }
  input#flexCheckDefault.form-check-input {
    margin-left: -1rem;
    margin-right: 0.3rem;
  }
  select.form-select {
    font-size: 1rem;
    padding: 0.3rem;
  }
  textarea.form-control {
    font-size: 1rem;
  }
  button.btn.btn {
    font-size: 1rem;
    margin-right: 0.3rem;
  }
}

/* Desde 426px hasta 769px */
@media (min-width: 426px) and (max-width: 769px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 20rem;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form.formulario {
    margin: 0rem;
    padding: 0.3rem;
  }
  fieldset {
    font-size: 1rem;
    padding: 0rem;
    margin: 0rem;
  }
  div.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  input.form-control {
    padding: 0.3rem;
    font-size: 1rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  div.mb-3.e-mail {
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  div.form-check {
    margin: 0rem;
    padding-left: 2rem;
  }
  input#flexRadioDefault1.form-check-input {
    margin-left: 2rem;
    margin-right: 0.3rem;
    margin-top: 0rem;
  }
  input#flexRadioDefault2.form-check-input {
    margin-left: 2rem;
    margin-right: 0.3rem;
    margin-top: 0rem;
  }
  input#flexCheckDefault.form-check-input {
    margin-left: 2rem;
    margin-right: 0.3rem;
  }
  select.form-select {
    font-size: 1rem;
    padding: 0.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  div.mb-3.reclamos {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  textarea.form-control {
    font-size: 1rem;
  }
  button.btn.btn {
    font-size: 1rem;
    margin-right: 0rem;
    margin-left: 4rem;
  }
}

/* RESPONSIVE PARA MAS DE 768PX HASTA 1025PX */
@media (min-width: 769px) and (max-width: 1025px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 20rem;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1.25rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form.formulario {
    margin: 0px;
    padding: 0.3rem;
    width: 100%;
  }
  fieldset {
    font-size: 1.25rem;
    padding: 0rem;
    margin: 0rem;
  }
  div.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  input.form-control.dni {
    margin: 0rem 4rem;
    width: 87.5%;
  }
  input.form-control {
    padding: 0.3rem;
    font-size: 1.25rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  div.mb-3.e-mail {
    font-size: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  div.form-check {
    margin: 0rem;
    padding-left: 2rem;
  }
  input#flexRadioDefault1.form-check-input {
    margin-left: 2rem;
    margin-right: 0.3rem;
    margin-top: 0rem;
  }
  input#flexRadioDefault2.form-check-input {
    margin-left: 2rem;
    margin-right: 0.3rem;
    margin-top: 0rem;
  }
  input#flexCheckDefault.form-check-input {
    margin-left: 2rem;
    margin-right: 0.3rem;
  }
  select.form-select {
    font-size: 1.25rem;
    padding: 0.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    width: 90%;
  }
  div.mb-3.reclamos {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  textarea.form-control {
    font-size: 1.25rem;
  }
  button.btn.btn {
    font-size: 1.25rem;
    margin-right: 0rem;
    margin-left: 4rem;
  }
}

/* Desde 1440px */
@media (min-width: 1439px) and (max-width: 2560px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 20rem;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 4rem;
    padding-right: 2rem;
  }
  form.formulario {
    margin: 0px;
    padding: 0.3rem;
  }
  fieldset {
    font-size: 1.5rem;
    padding: 0rem;
    margin: 0rem;
  }
  div.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  input.form-control {
    padding: 0.3rem;
    font-size: 1.5rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  input.form-control.dni {
    margin-right: 0rem 1.5rem;
  }
  div.mb-3.e-mail {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  div.form-check {
    margin: 0rem;
    padding-left: 2rem;
  }
  input#flexRadioDefault1.form-check-input {
    margin-left: 2rem;
    margin-right: 0.3rem;
    margin-top: 0rem;
  }
  input#flexRadioDefault2.form-check-input {
    margin-left: 2rem;
    margin-right: 0.3rem;
    margin-top: 0rem;
  }
  input#flexCheckDefault.form-check-input {
    margin-left: 2rem;
    margin-right: 0.3rem;
  }
  select.form-select {
    font-size: 1.5rem;
    padding: 0.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  div.mb-3.reclamos {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  textarea.form-control {
    font-size: 1.5rem;
  }
  button.btn.btn {
    font-size: 1.5rem;
    margin-right: 0rem;
    margin-left: 4rem;
  }
}
/*# sourceMappingURL=contacto.css.map */