*{
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.header-color{
    background-color: #e42121;
    padding-top: 0.5rem;
    margin: 0.1rem;
}

.navbar-alinear{
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color:#c7ced1;
    transform: scale(1.5,1.5);
}

.container-logo{
    display: flex;
    width: 100%;
    background-color: white;
}

.logo{
    width: 20rem;
    margin:auto;
}

.header_contacto{
    background-color: #709995;
    color: whitesmoke;
    font-family: 'Montserrat',sans-serif;
    height: 2rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.body_contacto{
    background-color: whitesmoke;
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    margin: 0.1rem;
}
.opcion_elegida{
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
}

.container-formulario{
   margin-top: -1rem;
}

.formulario{
    margin-left: 16rem;
    margin-right: 16rem;
    padding: 2rem;
}

.espaciado_botones{
    margin-right: 3rem;
}

.footer-container{
    background-color: #709995;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 0.9rem;
    display: flex;  
}

.ul_footer{
    list-style-type: none;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    height: 3rem;
    margin-bottom: 0rem;
}

.a_footer{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
}