* {
  font-family: 'Montserrat',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.header-color {
  background-color: #e42121;
  padding-top: 0.5rem;
  margin: 0.1rem;
}

.navbar-alinear {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #c7ced1;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
}

.logo {
  width: 20rem;
  margin: auto;
}

@media (max-width: 376px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0px;
  }
  li.nav-item {
    margin: 0px;
  }
  a.navbar-alinear {
    margin: 0px;
  }
  .navbar-alinear {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 20rem;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 20rem;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1.25rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1439px) and (max-width: 2560px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 20rem;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 4rem;
    padding-right: 2rem;
  }
}

* {
  margin: 0;
}

.footer-container {
  background-color: #709995;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .ul_footer {
  list-style-type: none;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  height: 3rem;
  margin-bottom: 0rem;
}

.footer-container .ul_footer .a_footer {
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}

.footer-container .ul_footer a:hover {
  color: #0a58ca;
}

@media (max-width: 376px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin-left: 0.5rem;
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.6rem;
    padding: 0.3rem;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.75rem;
    padding: 0.3rem;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1rem;
    padding: 0.3rem;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.25rem;
    padding: 0.3rem;
  }
}

/* Desde 1440px */
@media (min-width: 1439px) and (max-width: 2560px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.5rem;
    padding: 0.3rem;
  }
}

main {
  background-color: #e8e8e8;
  font-family: 'Montserrat',sans-serif;
  font-size: 1rem;
}

h1 {
  background-image: url(../multimedia/bandera_estadosunidos.svg);
  background-size: cover;
  text-align: center;
  padding: 1rem;
  margin-top: 0.5rem;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Londrina Shadow', cursive;
  font-size: 2rem;
  color: black;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0rem;
}

body {
  background-color: whitesmoke;
  text-align: center;
}

.ciudad {
  border: 0.1rem solid black;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.titulo-ciudad {
  background-image: -webkit-gradient(linear, left top, right top, from(#011384), color-stop(whitesmoke), to(#960000));
  background-image: linear-gradient(to right, #011384, whitesmoke, #960000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulo-ciudad h2 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 2rem;
  margin: 0.2rem;
}

.titulo_atraccion {
  text-align: center;
  font-size: 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#011384), to(#960000));
  background-image: linear-gradient(#011384, #960000);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: whitesmoke;
}

.container-centralpark {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1.5fr;
      grid-template-rows: 1fr 1fr 1.5fr;
}

.imagen {
  padding: 0.2rem;
  max-width: 100%;
  min-height: 100%;
}

.cp-parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cp-texto {
  text-align: center;
  font-family: 'Londrina Shadow',cursive;
  font-size: 5rem;
}

.container-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.cp_video {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 3;
      grid-row-end: span 3;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.container-descripcion {
  text-align: left;
  padding-left: 1rem;
  margin: 0.2rem;
  font-size: 1rem;
}

.container-descripcion-la {
  text-align: center;
  margin: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.container-estatua {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-row: 100;
  grid-row: 100%;
  padding: 0.2rem;
  width: 100%;
  height: 100%;
}

.estatua-individual {
  padding: 0.2rem;
}

.container-times {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.caja-times {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  padding: 0.4rem;
}

.container-imagen {
  margin: 0.2rem;
}

.container-miami_beach {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.container-hollywood {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  position: relative;
}

.container-hollywood-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #011384;
  color: whitesmoke;
  font-weight: bold;
}

.container-hollywood-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(5, 1fr);
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 0.2fr;
      grid-template-rows: 1fr 0.2fr;
}
/*# sourceMappingURL=eeuu.css.map */