* {
  font-family: 'Montserrat',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.header-color {
  background-color: #e42121;
  padding-top: 0.5rem;
  margin: 0.1rem;
}

.header-color .navbar-alinear {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  text-decoration: none;
}

.header-color .navbar-alinear a:hover {
  color: #0a58ca;
}

.header-color .container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
}

.header-color .container-logo .logo {
  width: 20rem;
  margin: auto;
}

/* Responsive para Mobile-S (320px) y Mobile-M (375px) */
@media (max-width: 376px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item a.navbar-alinear {
    margin: 0rem;
  }
  img.logo {
    width: 100%;
  }
}

/* Responsive para Mobile-L (425px) */
@media (min-width: 376px) and (max-width: 426px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item a.navbar-alinear {
    margin: 0rem;
  }
  img.logo {
    width: 100%;
  }
}

/* Responsive para table (768px)*/
@media (min-width: 426px) and (max-width: 769px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item a.navbar-alinear {
    margin: 0rem;
  }
  img.logo {
    width: 20rem;
  }
}

/* Responsive para tablet (1024px) */
@media (min-width: 769px) and (max-width: 1025px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.navbar-nav.navbar-alinear li.nav-item {
    margin: 0rem;
  }
  ul.navbar-nav.navbar-alinear li.nav-item a.navbar-alinear {
    margin: 0rem;
  }
  img.logo {
    width: 20rem;
  }
}

* {
  margin: 0;
}

.footer-container {
  background-color: #709995;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .ul_footer {
  list-style-type: none;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  height: 3rem;
  margin-bottom: 0rem;
}

.footer-container .ul_footer .a_footer {
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}

.footer-container .ul_footer a:hover {
  color: #0a58ca;
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
}

@media (max-width: 321px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin-left: 0.5rem;
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.5rem;
    padding: 0.3rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin-left: 0.5rem;
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.6rem;
    padding: 0.3rem;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.75rem;
    padding: 0.3rem;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1rem;
    padding: 0.3rem;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.25rem;
    padding: 0.3rem;
  }
}

/* Desde 1440px */
@media (min-width: 1439px) and (max-width: 2560px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.5rem;
    padding: 0.3rem;
  }
}

main {
  background-color: #e8e8e8;
  font-family: 'Montserrat',sans-serif;
  font-size: 1rem;
}

h1 {
  background-image: url(../multimedia/bandera_estadosunidos.svg);
  background-size: cover;
  text-align: center;
  padding: 1rem;
  margin-top: 0.5rem;
}

h1 .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Londrina Shadow', cursive;
  font-size: 2rem;
  color: black;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0rem;
}

body {
  background-color: whitesmoke;
  text-align: center;
}

body .ciudad {
  border: 0.1rem solid black;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-bottom: 1rem;
}

body .ciudad .titulo-ciudad {
  background-image: -webkit-gradient(linear, left top, right top, from(#011384), color-stop(whitesmoke), to(#960000));
  background-image: linear-gradient(to right, #011384, whitesmoke, #960000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .ciudad .titulo-ciudad h2 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 2rem;
  margin: 0.2rem;
}

body .ciudad .titulo_atraccion {
  text-align: center;
  font-size: 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#011384), to(#960000));
  background-image: linear-gradient(#011384, #960000);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: whitesmoke;
}

body .ciudad .container-centralpark {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1.5fr;
      grid-template-rows: 1fr 1fr 1.5fr;
}

body .ciudad .container-centralpark .imagen {
  padding: 0.2rem;
  max-width: 100%;
  min-height: 100%;
}

body .ciudad .container-centralpark .cp-parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .ciudad .container-centralpark .cp-parrafo .cp-texto {
  text-align: center;
  font-family: 'Londrina Shadow',cursive;
  font-size: 5rem;
}

body .ciudad .container-centralpark .cp_video {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 3;
      grid-row-end: span 3;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

body .ciudad .container-estatua {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-row: 100;
  grid-row: 100%;
  padding: 0.2rem;
  width: 100%;
  height: 100%;
}

body .ciudad .container-estatua .estatua-individual {
  padding: 0.2rem;
}

body .ciudad .container-times {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

body .ciudad .container-times .container-imagen {
  margin: 0.2rem;
  padding: 0.1rem;
}

body .ciudad .container-times .imagen {
  padding: 0.2rem;
  max-width: 100%;
  min-height: 100%;
}

body .ciudad .container-times .caja-times {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  padding: 0.4rem;
}

body .ciudad .container-times .caja-times .container-imagen {
  margin: 0.2rem;
}

body .ciudad .container-times .caja-times .estatua-individual {
  padding: 0.2rem;
}

body .ciudad .container-miami_beach {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

body .ciudad .container-miami_beach .container-imagen {
  margin: 0.2rem;
}

body .ciudad .container-miami_beach .container-imagen .imagen {
  padding: 0.2rem;
  max-width: 100%;
  min-height: 100%;
}

body .ciudad .container-hollywood {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  position: relative;
}

body .ciudad .container-hollywood iframe {
  width: 100%;
}

body .ciudad .container-hollywood .container-hollywood-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #011384;
  color: whitesmoke;
  font-weight: bold;
}

body .ciudad .container-hollywood .container-imagen {
  margin: 0.2rem;
}

body .ciudad .container-hollywood-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 0.2fr;
      grid-template-rows: 1fr 0.2fr;
}

body .ciudad .container-hollywood-2 .container-imagen {
  margin: 0.2rem;
}

body .ciudad .container-hollywood-2 .container-imagen .imagen {
  padding: 0.2rem;
  max-width: 100%;
  min-height: 100%;
}

body .ciudad .container-hollywood-2 .container-descripcion-la {
  text-align: center;
  margin: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (max-width: 321px) {
  body .ciudad .container-centralpark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-centralpark .imagen {
    padding: 0.2rem;
    max-width: 100%;
    min-height: 100%;
  }
  body .ciudad .container-centralpark .imagen iframe {
    height: 5rem;
  }
  body .ciudad .container-centralpark .cp_video {
    height: 10rem;
  }
  body .ciudad .container-estatua {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-estatua iframe {
    height: auto;
  }
  body .ciudad .container-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-times iframe {
    height: 5rem;
  }
  body .ciudad .container-miami_beach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-miami_beach iframe {
    height: auto;
  }
  body .ciudad .container-miami_beach .spotify_responsive {
    height: 5.5rem;
  }
  body .ciudad .container-hollywood {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 0.2fr 1fr 0.2fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
  }
  body .ciudad .container-hollywood .item1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
  }
  body .ciudad .container-hollywood .item3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
  body .ciudad .container-hollywood .item2 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 3;
  }
  body .ciudad .container-hollywood .item4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
  }
  body .ciudad .container-hollywood iframe {
    width: 100%;
    height: 100%;
  }
  body .ciudad .container-hollywood-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 18% 2% 18% 2% 18% 2% 18% 2% 18% 2%;
        grid-template-rows: 18% 2% 18% 2% 18% 2% 18% 2% 18% 2%;
  }
  body .ciudad .container-hollywood-2 .item2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
  body .ciudad .container-hollywood-2 .item4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
  }
  body .ciudad .container-hollywood-2 .item6 {
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 6;
  }
  body .ciudad .container-hollywood-2 .item8 {
    -ms-grid-row: 8;
        grid-row-start: 8;
    grid-row-end: 8;
  }
  body .ciudad .container-hollywood-2 .item10 {
    -ms-grid-row: 10;
        grid-row-start: 10;
    grid-row-end: 10;
  }
  body .ciudad .container-hollywood-2 .imagen {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  body .ciudad .container-centralpark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-centralpark .imagen {
    padding: 0.2rem;
    max-width: 100%;
    min-height: 100%;
  }
  body .ciudad .container-centralpark .imagen iframe {
    height: 5rem;
  }
  body .ciudad .container-centralpark .cp_video {
    height: 13rem;
  }
  body .ciudad .container-estatua {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-estatua iframe {
    height: auto;
  }
  body .ciudad .container-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-times iframe {
    height: 5rem;
  }
  body .ciudad .container-miami_beach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-miami_beach iframe {
    height: 16rem;
  }
  body .ciudad .container-miami_beach .spotify_responsive {
    height: 5.5rem;
  }
  body .ciudad .container-hollywood {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 0.2fr 1fr 0.2fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
  }
  body .ciudad .container-hollywood .item1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
  }
  body .ciudad .container-hollywood .item3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
  body .ciudad .container-hollywood .item2 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 3;
  }
  body .ciudad .container-hollywood .item4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
  }
  body .ciudad .container-hollywood iframe {
    width: 100%;
    height: 100%;
  }
  body .ciudad .container-hollywood-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 18% 2% 18% 2% 18% 2% 18% 2% 18% 2%;
        grid-template-rows: 18% 2% 18% 2% 18% 2% 18% 2% 18% 2%;
  }
  body .ciudad .container-hollywood-2 .item2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
  body .ciudad .container-hollywood-2 .item4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
  }
  body .ciudad .container-hollywood-2 .item6 {
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 6;
  }
  body .ciudad .container-hollywood-2 .item8 {
    -ms-grid-row: 8;
        grid-row-start: 8;
    grid-row-end: 8;
  }
  body .ciudad .container-hollywood-2 .item10 {
    -ms-grid-row: 10;
        grid-row-start: 10;
    grid-row-end: 10;
  }
  body .ciudad .container-hollywood-2 .imagen {
    width: 100%;
    height: 18rem;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  body .ciudad .container-centralpark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-centralpark .imagen {
    padding: 0.2rem;
    max-width: 100%;
    min-height: 100%;
  }
  body .ciudad .container-centralpark .imagen iframe {
    height: 5rem;
  }
  body .ciudad .container-centralpark .cp_video {
    height: 14rem;
  }
  body .ciudad .container-estatua {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-estatua iframe {
    height: auto;
  }
  body .ciudad .container-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-times iframe {
    height: 5rem;
  }
  body .ciudad .container-miami_beach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-miami_beach iframe {
    height: 18rem;
  }
  body .ciudad .container-miami_beach .spotify_responsive {
    height: 5.5rem;
  }
  body .ciudad .container-hollywood {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 0.2fr 1fr 0.2fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
  }
  body .ciudad .container-hollywood .item1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
  }
  body .ciudad .container-hollywood .item3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
  body .ciudad .container-hollywood .item2 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 3;
  }
  body .ciudad .container-hollywood .item4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
  }
  body .ciudad .container-hollywood iframe {
    width: 100%;
    height: 100%;
  }
  body .ciudad .container-hollywood-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 18% 2% 18% 2% 18% 2% 18% 2% 18% 2%;
        grid-template-rows: 18% 2% 18% 2% 18% 2% 18% 2% 18% 2%;
  }
  body .ciudad .container-hollywood-2 .item2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
  body .ciudad .container-hollywood-2 .item4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
  }
  body .ciudad .container-hollywood-2 .item6 {
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 6;
  }
  body .ciudad .container-hollywood-2 .item8 {
    -ms-grid-row: 8;
        grid-row-start: 8;
    grid-row-end: 8;
  }
  body .ciudad .container-hollywood-2 .item10 {
    -ms-grid-row: 10;
        grid-row-start: 10;
    grid-row-end: 10;
  }
  body .ciudad .container-hollywood-2 .imagen {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  body .ciudad .container-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-times iframe {
    height: 5rem;
  }
  body .ciudad .container-miami_beach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .ciudad .container-miami_beach iframe {
    height: 30rem;
    width: 100%;
  }
  body .ciudad .container-miami_beach .spotify_responsive {
    height: 5.5rem;
  }
  body .ciudad .container-hollywood {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 0.2fr 1fr 0.2fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
  }
  body .ciudad .container-hollywood .item1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
  }
  body .ciudad .container-hollywood .item3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
  body .ciudad .container-hollywood .item2 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 3;
  }
  body .ciudad .container-hollywood .item4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
  }
  body .ciudad .container-hollywood iframe {
    width: 100%;
    height: 20rem;
  }
  body .ciudad .container-hollywood-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 18% 2% 18% 2% 18% 2% 18% 2% 18% 2%;
        grid-template-rows: 18% 2% 18% 2% 18% 2% 18% 2% 18% 2%;
  }
  body .ciudad .container-hollywood-2 .item2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .ciudad .container-hollywood-2 .item4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .ciudad .container-hollywood-2 .item6 {
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .ciudad .container-hollywood-2 .item8 {
    -ms-grid-row: 8;
        grid-row-start: 8;
    grid-row-end: 8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .ciudad .container-hollywood-2 .item10 {
    -ms-grid-row: 10;
        grid-row-start: 10;
    grid-row-end: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .ciudad .container-hollywood-2 .imagen {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=eeuu.css.map */