@charset "UTF-8";
* {
  font-family: 'Montserrat',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.header-color {
  background-color: #e42121;
  padding-top: 0.5rem;
  margin: 0.1rem;
}

.navbar-alinear {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #c7ced1;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
}

.logo {
  width: 20rem;
  margin: auto;
}

@media (max-width: 376px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0px;
  }
  li.nav-item {
    margin: 0px;
  }
  a.navbar-alinear {
    margin: 0px;
  }
  .navbar-alinear {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 20rem;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 20rem;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1.25rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1439px) and (max-width: 2560px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  img.logo {
    width: 20rem;
  }
  ul.navbar-nav.navbar-alinear {
    margin: 0rem;
  }
  li.nav-item {
    margin: 0rem;
  }
  a.navbar-alinear {
    margin: 0rem;
  }
  .navbar-alinear {
    font-size: 1.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 4rem;
    padding-right: 2rem;
  }
}

* {
  margin: 0;
}

.footer-container {
  background-color: #709995;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .ul_footer {
  list-style-type: none;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  height: 3rem;
  margin-bottom: 0rem;
}

.footer-container .ul_footer .a_footer {
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}

.footer-container .ul_footer a:hover {
  color: #0a58ca;
}

@media (max-width: 376px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin-left: 0.5rem;
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.6rem;
    padding: 0.3rem;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
  }
  .footer-container ul.ul_footer li {
    font-size: 0.75rem;
    padding: 0.3rem;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .footer-container {
    margin-top: 0.6rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1rem;
    padding: 0.3rem;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.25rem;
    padding: 0.3rem;
  }
}

/* Desde 1440px */
@media (min-width: 1439px) and (max-width: 2560px) {
  .footer-container {
    margin-top: 0.6rem;
    padding: 1rem;
  }
  .footer-container ul.ul_footer {
    margin: 0rem;
    padding: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul.ul_footer li {
    font-size: 1.5rem;
    padding: 0.3rem;
  }
}

main {
  background-color: #e8e8e8;
  font-family: 'Montserrat',sans-serif;
  font-size: 1rem;
}

h1 {
  background-image: url(../multimedia/bandera_españa.png);
  background-size: contain;
  text-align: center;
  padding: 1rem;
  margin-top: 0.5rem;
}

h1 .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  color: black;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0rem;
}

.titulo-madrid {
  font-weight: bold;
  text-align: center;
  background-color: #580042;
  color: whitesmoke;
  margin-bottom: 0rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-top: 0rem;
}

.titulo-madrid h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  margin: 0.5rem;
}

.container-ciudad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0rem;
}

.container-ciudad .españa_div {
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  color: black;
  margin: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
}

.container-ciudad .españa_div h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.container-ciudad .españa_div .españa_parrafo {
  font-size: 0.9rem;
  font-style: normal;
  margin-bottom: 0.5rem;
}

.container-ciudad .españa_div .atracciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-row: 1;
  grid-row: 1fr;
  margin-top: 0rem;
}

.container-ciudad .españa_div .atracciones .container-individual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0.2rem;
}

.container-ciudad .españa_div .atracciones .container-individual .card-img-top {
  height: 100%;
  width: 100%;
}

.container-ciudad .españa_div .atracciones .container-individual .modifica-h5 {
  font-weight: bold;
  font-size: 1rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.container-ciudad .españa_div .atracciones .container-individual .modifica-parrafo {
  font-size: 0.7rem;
}

.container-ciudad .españa_div .atracciones .container-individual .modifica-li-titulo {
  font-size: 1rem;
  font-weight: bold;
}

.container-ciudad .españa_div .atracciones .container-individual .modifica-li-descripcion {
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-ciudad .españa_div .iframe_madrid {
  display: block;
  width: 99%;
  height: 480px;
  margin: auto;
  border: solid 0.5rem #580042;
}

.barcelona {
  font-weight: bold;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#000072), color-stop(50%, #000072), color-stop(50%, #d30000), to(#d30000));
  background: linear-gradient(to bottom, #000072 0%, #000072 50%, #d30000 50%, #d30000 100%);
  color: #faaf0e;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.barcelona h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  margin: 0.5rem;
}

.container_playlist {
  margin-top: 0.5rem;
  border: 0.5rem solid #d30000;
  background-color: #000072;
}

.container_playlist .playlist_barcelona {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: whitesmoke;
}

.container_playlist .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2rem;
}

.container_playlist .grid-container .barcelona_spotify {
  border: 0.2rem solid #faaf0e;
  border-radius: 1rem;
}

@media (max-width: 376px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .container-ciudad .españa_div .atracciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .container-ciudad .españa_div .atracciones .container-individual .modifica-h5 {
    margin-bottom: 1rem;
    height: auto;
  }
  .container-ciudad .españa_div .atracciones .container-individual .card-body {
    height: auto;
  }
  .container-ciudad .españa_div .container-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.1rem;
  }
  .container-ciudad .españa_div .container-video .iframe_madrid {
    width: 100%;
    height: auto;
  }
  .container_playlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.1rem solid #d30000;
    margin-bottom: 0.5rem;
  }
  .container_playlist p.playlist_barcelona {
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .container_playlist .grid-container {
    margin-bottom: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .container_playlist .grid-container div.grid-container div {
    margin: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_playlist .grid-container .barcelona_spotify {
    border: 0.1rem solid #faaf0e;
  }
}

/* RESPONSIVE PARA MAS DE 376PX HASTA 425PX */
@media (min-width: 376px) and (max-width: 426px) {
  * {
    font-family: 'Montserrat',sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .container-ciudad .españa_div .atracciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .container-ciudad .españa_div .atracciones .container-individual .modifica-h5 {
    margin-bottom: 1rem;
    height: auto;
  }
  .container-ciudad .españa_div .atracciones .container-individual .card-body {
    height: auto;
  }
  .container-ciudad .españa_div .container-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.1rem;
  }
  .container-ciudad .españa_div .container-video .iframe_madrid {
    width: 100%;
    height: auto;
  }
  .container-ciudad .container_playlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.1rem solid #d30000;
    margin-bottom: 0.5rem;
  }
  .container-ciudad .container_playlist p.playlist_barcelona {
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .container-ciudad .container_playlist .grid-container {
    margin-bottom: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .container-ciudad .container_playlist .grid-container div.grid-container div {
    margin: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-ciudad .container_playlist .grid-container .barcelona_spotify {
    border: 0.1rem solid #faaf0e;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  * {
    font-size: 1rem;
  }
  .container-ciudad .españa_div .atracciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .container-ciudad .españa_div .atracciones .container-individual .card-body {
    height: auto;
  }
  .container-ciudad .españa_div .atracciones .container-individual .card-img-top {
    height: auto;
  }
  .container_playlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.2rem solid #d30000;
    margin-bottom: 0.5rem;
  }
  .container_playlist p.playlist_barcelona {
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .container_playlist .grid-container {
    margin-bottom: 0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .container_playlist .grid-container div.grid-container div {
    margin: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_playlist .grid-container .barcelona_spotify {
    border: 0.2rem solid #faaf0e;
  }
}
/*# sourceMappingURL=españa.css.map */