*{
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.header-color{
    background-color: #e42121;
    padding-top: 0.5rem;
    margin: 0.1rem;
}

.navbar-alinear{
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color:#c7ced1;
    transform: scale(1.5,1.5);
}

.container-logo{
    display: flex;
    width: 100%;
    background-color: white;
}

.logo{
    width: 20rem;
    margin:auto;
}

.img_main{
    display: block;
    width: 50rem;
    margin: auto;
}

h1{
    background-color: #ffffff;
    color: #e42121;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    font-size: 3rem;
    font-style: oblique;
}

.h2-subtitulo{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Montserrat',sans-serif;
}

.h3-v2{
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}

main{
    background-color: #e8e8e8;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.container-promociones{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    border: 0.05rem solid black;
    border-radius: 1rem;
    align-items: center;
    background-color: whitesmoke;
    margin: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0rem;
    padding: 1rem;
}

.container-promociones h4{
    grid-column-start: 1;
    grid-column-end: span 6;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.promo-tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tarjeta{
    width: 100%;
    height: 60%;
}

.promo-texto{
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
    padding-top:1rem;
}

.reserva{
    font-size: 1rem;
    text-align: center;
    background-color: #c7ced1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0.5rem;
}

.container-reserva{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

.index_pais{
    margin-left: 0.5rem;
    background-color: #e8e8e8;
    font-family: 'Montserrat',sans-serif;
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
}

.index_ciudad{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #e8e8e8;
    font-family: 'Montserrat',sans-serif;
    font-size: 0.9rem;
}

.index_fecha{
    margin-left: 1.5rem;
    background-color: #e8e8e8;
    font-family: 'Montserrat',sans-serif;
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}

.acepta_cancela{
    font-size: 1rem;
    font-family: 'Montserrat',sans-serif;
}

.table_index{
    font-size: 1rem;
    text-align: center;
}

.linea_selec{
    background-color: #e42121;
    color: whitesmoke;
    font-weight: bold;
}
.tabla{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.footer-container{
    background-color: #709995;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 0.9rem;
    display: flex;  
}

.ul_footer{
    list-style-type: none;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    height: 3rem;
    margin-bottom: 0rem;
}

.a_footer{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 321px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    img.logo{
        width: 100%;
    }

    .img_main{
        width: 100%;
    }

    ul.navbar-nav.navbar-alinear{
        margin: 0px;
    }
    li.nav-item{
        margin: 0px;
    }

    a.navbar-alinear{
        margin:0px;
    }
    .navbar-alinear{
        font-size: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    h2.h2-subtitulo{
        font-size: 1.5rem;
    }

    .h3-v2{
        font-size: 1rem;
    }

    .container-general-promociones{
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    div.container-promociones{
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 0.5fr 1fr 1fr;
        padding: 0rem;
    }

    .container-promociones h4{
        grid-column-start: 1;
        grid-column-end: span 3;
        padding: 0rem;
        margin:0rem;
    }

    .promo-tarjeta{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5rem;
    }
   
    img.tarjeta{
        margin:0rem;
        width: 100%;
        height: 60%;
    }
    div.promo-texto{
        font-size: 0.5rem;
        display: flex;
        text-align: center;
        padding: 0rem;
    }

    .reserva{
        width: 100%;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .container-reserva{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .index_pais{
        margin: 0rem;
    }

    .index_ciudad{
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
    
    .index_fecha{
        margin: 0rem;
        margin-top: 1rem;
        grid-column-start: 1;
        grid-column-end: span 2;
    }
    
    .tabla{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 0.5rem;
    }

    table.table{
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .table tbody{
        display: flex;
        flex-direction: row;
    }

    .table-dark{
        display: flex;
        flex-direction: column;
    }

    .table-dark th{
        width: 100%;
        height: 2.5rem;
    }

    .table-light{
        display: flex;
        flex-direction: column;
    }

    .table-light td{
        width: 100%;
        height: 2.5rem;
    }

    .linea_selec{
        display: flex;
        flex-direction: column;
    }

    .linea_selec td{
        width: 100%;
        height: 2.5rem;
    }

        .footer-container{
            margin-top: 0.6rem;
        }
            ul.ul_footer{
                margin-left: 0.5rem;
                margin:0rem;
                padding: 0rem;
            }
    
            ul.ul_footer li{
                font-size: 0.6rem;
                padding: 0.3rem;
            }   
}

@media (min-width: 320px) and (max-width: 376px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    img.logo{
        width: 100%;
    }

    .img_main{
        width: 100%;
    }

    ul.navbar-nav.navbar-alinear{
        margin: 0px;
    }
    li.nav-item{
        margin: 0px;
    }

    a.navbar-alinear{
        margin:0px;
    }
    .navbar-alinear{
        font-size: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    h2.h2-subtitulo{
        font-size: 1.5rem;
    }

    .h3-v2{
        font-size: 1rem;
    }

    .container-general-promociones{
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    div.container-promociones{
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 0.5fr 1fr 1fr;
        padding: 0rem;
    }

    .container-promociones h4{
        grid-column-start: 1;
        grid-column-end: span 3;
        padding: 0rem;
        margin:0rem;
    }

    .promo-tarjeta{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5rem;
    }
   
    img.tarjeta{
        margin:0rem;
        width: 100%;
        height: 60%;
    }
    div.promo-texto{
        font-size: 0.5rem;
        display: flex;
        text-align: center;
        padding: 0rem;
    }

    .reserva{
        width: 100%;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .container-reserva{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .index_pais{
        margin: 0rem;
    }

    .index_ciudad{
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
    
    .index_fecha{
        margin: 0rem;
        margin-top: 1rem;
        grid-column-start: 1;
        grid-column-end: span 2;
    }
    
    .tabla{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        font-size: 0.5rem;
        
    }

    table.table{
        width: 100%;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .table tbody{
        display: flex;
        flex-direction: row;
    }

    .table-dark{
        display: flex;
        flex-direction: column;
    }

    .table-dark th{
        width: 100%;
        
    }

    .table-light{
        display: flex;
        flex-direction: column;
    }

    .table-light td{
        width: 100%;
        
    }

    .linea_selec{
        display: flex;
        flex-direction: column;
    }

    .linea_selec td{
        width: 100%;
    }

        .footer-container{
            margin-top: 0.6rem;
        }
            ul.ul_footer{
                margin-left: 0.5rem;
                margin:0rem;
                padding: 0rem;
            }
    
            ul.ul_footer li{
                font-size: 0.6rem;
                padding: 0.3rem;
            }   
}

@media (min-width: 376px) and (max-width: 426px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    img.logo{
        width: 100%;
    }

    .img_main{
        width: 100%;
    }

    ul.navbar-nav.navbar-alinear{
        margin: 0rem;
    }
    li.nav-item{
        margin: 0rem;
    }

    a.navbar-alinear{
        margin:0rem;
    }

    .navbar-alinear{
        font-size: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .container-general-promociones{
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    div.container-promociones{
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 0.5fr 1fr 1fr;
        padding: 0rem;
    }

    .container-promociones h4{
        grid-column-start: 1;
        grid-column-end: span 3;
        padding: 0rem;
        margin:0rem;
    }

    .promo-tarjeta{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5rem;
    }
   
    img.tarjeta{
        margin:0rem;
        width: 100%;
        height: 60%;
    }
    div.promo-texto{
        font-size: 0.5rem;
        display: flex;
        text-align: center;
        padding: 0rem;
    }

    .reserva{
        width: 100%;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .container-reserva{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .index_pais{
        margin: 0rem;
    }

    .index_ciudad{
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
    
    .index_fecha{
        margin: 0rem;
        margin-top: 1rem;
        grid-column-start: 1;
        grid-column-end: span 2;
    }
    
    .tabla{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        font-size: 0.5rem;
        
    }

    table.table{
        width: 100%;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .table tbody{
        display: flex;
        flex-direction: row;
    }

    .table-dark{
        display: flex;
        flex-direction: column;
    }

    .table-dark th{
        width: 100%;
        
    }

    .table-light{
        display: flex;
        flex-direction: column;
    }

    .table-light td{
        width: 100%;
        
    }

    .linea_selec{
        display: flex;
        flex-direction: column;
    }

    .linea_selec td{
        width: 100%;
    }

        .footer-container{
            margin-top: 0.6rem;
        }
            ul.ul_footer{
                margin-left: 0.5rem;
                margin:0rem;
                padding: 0rem;
            }
    
            ul.ul_footer li{
                font-size: 0.6rem;
                padding: 0.3rem;
            }
}