*{
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
}

.nav_header{
    background-color: #e42121;
    color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
}

.ul_header{
    list-style-type: none;
    text-align: center;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.a_header{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
}
a:hover{
    color:#c7ced1;
    transform: scale(1.5,1.5);
}

.container-logo{
    display: flex;
    width: 100%;
    background-color: white;
}

.logo{
    width: 20rem;
    margin:auto;
}

h1{
    background-image: url(../multimedia/bandera_italia.jpg);
    background-size: cover;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    background-repeat: no-repeat;
}
span{
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: black;
    vertical-align: middle;
}

body{
    background-color: whitesmoke;
}

.container-ciudad{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(128, 0, 0), white, rgb(128, 0, 0))
}


h2{
    font-family: 'Gideon Roman', cursive;
    font-size: 2rem;
    margin: 0.2rem;
}

.ciudad{
    margin: 0rem;
}

.italia-container-v2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7,0.8fr);
    row-gap: 0.1rem;
    margin: 0rem;
}

.container-individual{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20% 80%;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    background-color: red;
}

.container-titulo{
    grid-column-start: 1;
    grid-column-end: span 2;
    margin: 0rem;
    align-items: center;
}

.container-titulo h6{
    text-align: center;
    font-size: 2rem;
    margin: 0rem;
}

.container-imagen-v2{
   display: flex; 
   justify-content: center;
   align-items: center; 
   margin: 1rem;
}

.imagen-v2{
    max-width: 100%;
    min-height: 100%;  
}

.container-descripcion{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.container-parrafo p{
    font-size: 0.9rem;
}

.container-gastronomia{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 1fr;
    margin-bottom: 1rem;
}

.container-gastronomia-titulo{
    grid-column-start: 1;
    grid-column-end: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.container-gastronomia-titulo h5{
    font-size: 2rem;
}

.container-gastronomia-individual{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 40%;
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin: 0.2rem;
}

.container-gastronomia-subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.container-gastronomia-imagen{
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0rem;
}

.gastronomia-imagen{
    width: 100%;
    max-height: 90%;
}

.container-gastronomia-descripcion{
    display: flex;
    align-items: start;
    margin-top: 0rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.container-gastronomia-descripcion p{
    text-align: left;
    font-size: 0.9rem;
    padding-left: 0.5rem;
}

.container-atracciones-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0rem;
    height: 3rem;
}

.container-atracciones-titulo h5{
    font-size: 2rem;
}

.container-marcas{
    display: grid;
    grid-template-columns: repeat(5,0.5fr);
    grid-template-rows: 50% 50%;
}

.container-marcas-logo{
    display: flex;
    justify-content: space-around;
}

.marcas-logo{
    width: 80%;
    height: 80%;
}

.container-video{
    display: flex;
    justify-content: center;
    padding-top:2rem;
    padding-bottom: 2rem;
}

.container-atracciones{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.container-atracciones-individual{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 10%;
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin:0.5rem;
}

.container-atracciones-lugar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0rem;
    padding: 0rem;
}

.container-atracciones-imagen{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.atracciones-imagen{
    width: 100%;
    height: 100%;
}

footer{
    background-color: #709995;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}