.header-color{
    background-color: #e42121;
    padding-top: 0.5rem;
    margin: 0.1rem;

    .navbar-alinear{
        justify-content: space-between;
        width: 100%;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        align-items: center;
        color: whitesmoke;
        text-decoration: none;

        a:hover{
            color: #0a58ca;
        }
    }  
    
    .container-logo{
        display: flex;
        width: 100%;
        background-color:white;

        .logo{
        width: 20rem;
        margin:auto;
        } 
    }
}

/* Responsive para Mobile-S (320px) y Mobile-M (375px) */
@media (max-width: 376px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    ul.navbar-nav.navbar-alinear{
        margin: 0rem;
        li.nav-item{
            margin: 0rem;
            a.navbar-alinear{
                margin:0rem;
            }
        }
    }

    img.logo{
        width: 100%;
    }
}

/* Responsive para Mobile-L (425px) */
@media (min-width: 376px) and (max-width: 426px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    ul.navbar-nav.navbar-alinear{
        margin: 0rem;

        li.nav-item{
            margin: 0rem;

            a.navbar-alinear{
                margin:0rem;
            }
        }
    }

    img.logo{
        width: 100%;
    }
}

/* Responsive para table (768px)*/
@media (min-width: 426px) and (max-width: 769px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    ul.navbar-nav.navbar-alinear{
        margin: 0rem;

        li.nav-item{
            margin: 0rem;

            a.navbar-alinear{
                margin:0rem;
            }
        }  
    }

    img.logo{
        width: 20rem;
    } 
}

/* Responsive para tablet (1024px) */
@media (min-width: 769px) and (max-width: 1025px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    ul.navbar-nav.navbar-alinear{
        margin: 0rem;
        display: flex;
        justify-content: space-around;

        li.nav-item{
            margin: 0rem;

            a.navbar-alinear{
                margin: 0rem;
            }
        }
    }

    img.logo{
        width: 20rem;
    }
}

