*{
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
    margin: 0;
}

@import "header";
@import "footer";

.body_contacto{
    /* Define estilo color de fondo */
    background-color: whitesmoke;
    /* Define tipo de fuente */
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    margin: 0.1rem;

    /* Estila título contacto */
    .header_contacto{
        background-color: #709995;
        color: whitesmoke;
        font-family: 'Montserrat',sans-serif;
        height: 2rem;
        font-size: 1.5rem;
        margin: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formulario_contacto{
        /* Define márgenes y padding formulario */
        margin-left: 16rem;
        margin-right: 16rem;
        padding: 2rem;

        .espaciado_botones{
            margin-right: 3rem;
        }

        /* Define home flotante (oculto para mobile y tablet) */
        .home-flotante{
            font-size: 2rem;
            position: sticky;
            left: 92.50%;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: #212529;
            color: whitesmoke;
            border-radius: 100%;
            
            i{
                margin-bottom: 2rem;
            }
    
            :hover{
                color: #0a58ca;
            }
        }
    }
}


/* -------------------------------------------------------------------- */
/* RESPONSIVE */
/* Responsive para Mobile S (320px) y Mobile M (375px) */

@media (max-width: 376px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    img.logo{
        width: 100%;
    }

    .body_contacto{
        .formulario_contacto{
            /* Define márgenes y padding formulario */
            margin-left: 0rem;
            margin-right: 0rem;
            padding: 2rem;
            padding-bottom: 0.5rem;
    
            .espaciado_botones{
                margin-right: 1rem;
            }
        }
        .home-flotante{
            display: none;
        }   
    }
    
}

/* RESPONSIVE PARA MAS DE 376PX HASTA 425PX */
@media (min-width: 376px) and (max-width: 426px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    img.logo{
        width: 100%;
    }

    .body_contacto{
        .formulario_contacto{
            /* Define márgenes y padding formulario */
            margin-left: 0rem;
            margin-right: 0rem;
            padding: 2rem;
            padding-bottom: 0rem;
    
            .espaciado_botones{
                margin-right: 3rem;
            }

            .home-flotante{
                font-size: 1rem;
            }
        }   
    }  
}

/* Desde 426px hasta 769px */

@media (min-width: 426px) and (max-width: 769px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

     img.logo{
        width: 100%;
    }

    .body_contacto{
        .formulario_contacto{
            /* Define márgenes y padding formulario */
            margin-left: 0rem;
            margin-right: 0rem;
            padding: 2rem;
            padding-bottom: 0rem;
    
            .espaciado_botones{
                margin-right: 3rem;
            }
            .home-flotante{
                font-size: 1.5rem;
            }
        }   
    }
   
}

/* RESPONSIVE PARA MAS DE 768PX HASTA 1025PX */
@media (min-width: 769px) and (max-width: 1025px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    img.logo{
        width: 100%;
    }

    .body_contacto{
        .formulario_contacto{
            /* Define márgenes y padding formulario */
            margin-left: 0rem;
            margin-right: 0rem;
            padding: 2rem;
            padding-bottom: 0rem;
    
            .espaciado_botones{
                margin-right: 3rem;
            }

            .home-flotante{
                font-size: 2rem;
            }
        }   
    }
    .home-flotante{
        position: sticky;
        top: 60%;
    }
}

/* Desde 1025px hasta 1440px */
@media (min-width: 1025px) and (max-width: 1440px){
    *{
        font-family: 'Montserrat',sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    img.logo{
        width: 100%;
    }

    .body_contacto{
        .formulario_contacto{
            /* Define márgenes y padding formulario */
            margin-left: 0rem;
            margin-right: 0rem;
            padding: 2rem;
            padding-bottom: 0rem;
    
            .espaciado_botones{
                margin-right: 3rem;
            }
            .home-flotante{
                font-size: 2rem;
            }
        }   
    }
}