*{
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
    margin: 0;
}
/* Importa header y main */
@import "header";
@import "main";

/* Estila imagen principal */
.img_main{
    display: block;
    width: 50rem;
    margin: auto; 
}

/* Estila título principal */
.h1-titulo{
    background-color: rgb(34, 33, 33);
    color: whitesmoke;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 3rem;
}

/* Estila subtitúlo h2 */
.h2-subtitulo{
    text-align: center;
    font-size: 1.25rem;
}

/* Estila subtitulo h3 */
.h3-subtitulo{
    font-size: 1rem;
    text-align: center;
}

/* Contenedor promociones bancarias */
.container-promociones{
    /* Formato grid */
    display: grid;
    /* 6 columnas */
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    /* 2 filas */
    grid-template-rows: 20% 80%;
    /* Alineación horizontal */
    justify-items: center;
    /* Alineación vertical */
    align-items: center;
    /* Borde contenedor */
    border: 0.05rem solid black;
    /* Redondeo borde */
    border-radius: 1rem;
    /* Color de fondo */
    background-color: whitesmoke;
    /* Márgenes y padding */
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0rem;
    padding: 1rem;
    
    /* Estila subtitulo h4 */
    h4{
        /* Inicia en columna 1 */
        grid-column-start: 1;
        /* Finaliza en columna 6 */
        grid-column-end: span 6;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 1rem;
        font-weight: bold;
        }
        
    /* Contenedor individual tarjeta */    
    .promo-tarjeta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
        .tarjeta{
            /* Modifica ancho y alto para adecuar tamaño */
            width: 85%;
            height: 50%;
        }    
        
        .promo-texto{
            font-size: 0.6rem;
            font-weight: 600;
            text-align: center;
            padding-top:1rem;
        }
    }
}

/* Estila sección reserva */
.reserva{
    text-align: center;
    background-color: #c7ced1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0.5rem;

    /* Contenedor reserva */
    .container-reserva{
        display: grid;
        /* 3 columnas */
        grid-template-columns: 1fr 1fr 1fr;
        /* 1 fila */
        grid-template-rows: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;

        /* Estila seleccionador país */
        .index_pais{
            margin-left: 0.5rem;
            background-color: #e8e8e8;      
        }

        /* Estila seleccionador ciudad */
        .index_ciudad{
            margin-left: 1rem;
            margin-right: 1rem;
            background-color: #e8e8e8;
        }

        /* Estila calendario */
        .index_fecha{
            margin-left: 1.5rem;
            background-color: #e8e8e8;
            width: 100%;
            height: 100%;
            padding-left: 1rem;
        }
    }
}

/* Estila sección tabla */
.tabla{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;

    /* Estila linea seleccionada con precios más bajos */
    .linea_selec{
        background-color: #e42121;
        color: whitesmoke;
        font-weight: bold;
    }
}

/* Importa footer */
@import "footer";

/* -------------------------------------------------------------------- */
/* RESPONSIVE */
/* Responsive para Mobile S (320px) */
@media (max-width: 321px){
    *{
        font-size: 1rem;
        margin:0;
        box-sizing: border-box;
    }
    .img_main{
        width: 20rem;
        height: auto;
    }

    .h1-titulo{
        font-size: 2rem;
    }
    
    /* Modifica container promociones para adaptar a Mobile-S */
    .container-promociones{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: grid;
        /* 3 columnas y 3 filas */
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 40% 40%;
        
        h4{
            /* Inicia en 1 y finaliza en 3 */
            grid-column-start: 1;
            grid-column-end: span 3;
            padding: 0rem;
            font-size: 0.9rem;
        }
    
        .promo-tarjeta{
            padding: 0.5rem;  

            .tarjeta{
                width: 85%;
                height: 50%;
            } 
        }
    }

    .reserva{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    
        .container-reserva{
            display: flex;
            flex-direction: column;
    
            .index_pais{
                margin: 0rem;
                margin-bottom: 1rem;
            }
    
            .index_ciudad{
                margin: 0rem;
                margin-bottom: 1rem;
            }
            .index_fecha{
                margin: 0rem;
            }
        }  
    }

    /* Modifica formato de tabla convirtiendo filas en columnas y viceversa */
    .tabla{
        display: flex;
        justify-content: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;

        .table{ 
            margin-left: 0rem;
            margin-right: 0rem;
            width: 100%;
            display: flex;
            justify-content: center;
           
            tbody{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 19rem;
                margin-top: 0.1rem;
                margin-left: 0rem;
                margin-right: 0rem;
                
                .table-dark{
                    display: flex;
                    flex-direction: column;
                    
                    th{
                        width: 5rem;
                        font-size: 0.6rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }    
            
                .table-light{
                    display: flex;
                    flex-direction: column;
                    
                    td{ 
                        width: 4.2rem;
                        font-size: 0.6rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                } 

                .linea_selec{
                    display: flex; 
                    flex-direction: column;
                    
                    td{
                        width: 4.2rem;
                        font-size: 0.6rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }     
            }
        }
    }  
}

/* Responsive para Mobile M (375px) */
@media (min-width:321px) and (max-width: 376px){
    *{
        font-size: 1rem;
        margin:0;
        box-sizing: border-box;
    }
    .img_main{
        width: 25rem;
    }

    .h1-titulo{
        font-size: 2rem;
    }

    .container-promociones{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 40% 40%;

        h4{
            grid-column-start: 1;
            grid-column-end: span 3;
            padding: 0rem;
            font-size: 0.9rem;
        }
    
        .promo-tarjeta{
            padding: 0.5rem;  

            .tarjeta{
                width: 85%;
                height: 50%;
            } 
        }
    }
    
    .reserva{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    
        .container-reserva{
            display: flex;
            flex-direction: column;
    
            .index_pais{
                margin: 0rem;
                margin-bottom: 1rem;
            }
    
            .index_ciudad{
                margin: 0rem;
                margin-bottom: 1rem;
            }
            .index_fecha{
                margin: 0rem;
            }
        }  
    }

    .tabla{
        display: flex;
        justify-content: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;

        .table{ 
            margin-left: 0rem;
            margin-right: 0rem;
            width: 100%;
            display: flex;
            justify-content: center;
           
            tbody{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin-top: 0.1rem;
                margin-left: 0rem;
                margin-right: 0rem;

                .table-dark{
                    display: flex;
                    flex-direction: column;
                    
                    th{
                        width: 7rem;
                        font-size: 0.7rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                
                .table-light{
                    display: flex;
                    flex-direction: column;
                    
                    td{ 
                        width: 5rem;
                        font-size: 0.7rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                } 
                
                .linea_selec{
                    display: flex;
                    flex-direction: column;
                    
                    td{
                        width: 5rem;
                        font-size: 0.7rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }      
            }
        }
    }
}

/* Responsive para Mobile L (425px) */
@media (min-width: 376px) and (max-width: 426px){
    *{
        font-size: 1rem;
        margin:0;
        box-sizing: border-box;
    }
    .img_main{
        width: 30rem;
        height: auto;
    }

    .h1-titulo{
        font-size: 2rem;
    }
    
    .container-promociones{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 40% 40%;
        
        h4{
            grid-column-start: 1;
            grid-column-end: span 3;
            padding: 0rem;
            font-size: 0.9rem;
        }
    
        .promo-tarjeta{
            padding: 0.5rem;  
            .tarjeta{
                width: 85%;
                height: 50%;
            } 
        }
    }
    
    .reserva{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    
        .container-reserva{
            display: flex;
            flex-direction: column;
    
            .index_pais{
                margin: 0rem;
                margin-bottom: 1rem;
            }
    
            .index_ciudad{
                margin: 0rem;
                margin-bottom: 1rem;
            }
            .index_fecha{
                margin: 0rem;
            }
        }  
    }

    .tabla{
        display: flex;
        justify-content: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        .table{ 
            margin-left: 0rem;
            margin-right: 0rem;
            width: 100%;
            display: flex;
            justify-content: center;
           
            
            tbody{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin-top: 0.1rem;
                margin-left: 0rem;
                margin-right: 0rem;

                .table-dark{
                    display: flex;
                    flex-direction: column;

                    th{
                        width: 7rem;
                        font-size: 0.8rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                }   

                .table-light{
                    display: flex;
                    flex-direction: column;
                    
                    td{ 
                        width: 6rem;
                        font-size: 0.8rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                } 

                .linea_selec{
                    display: flex;
                    flex-direction: column;
                    
                    td{
                        width: 6rem;
                        font-size: 0.8rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }      
            }
        }
    }
}

/* Responsive para Tablet (768px) */
@media (min-width: 426px) and (max-width: 769px){
    *{
        font-size: 1rem;
        margin:0;
        box-sizing: border-box;
    }
    .img_main{
        width: 50rem;
        height: auto;
    }
    .container-promociones{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: grid;
        /* 6 columnas y 2 filas */
        grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
        grid-template-rows: 20% 80%;
        
        h4{
            grid-column-start: 1;
            grid-column-end: span 6;
            padding: 0rem;
            font-size: 0.9rem;
        }
    
        .promo-tarjeta{
            padding: 0.5rem;  
            .tarjeta{
                width: 85%;
                height: 50%;
            } 
        }
    }
    
    .reserva{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    
        .container-reserva{
            display: flex;
            flex-direction: row;
        
            .index_pais{
                margin: 0rem;
                margin-right: 1rem;
            }
    
            .index_ciudad{
                margin: 0rem;
                margin-right: 1rem;
            }
            .index_fecha{
                margin: 0rem;
                height: 2.2rem;
            }
        }  
    }

    .tabla{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;    
    }
}
