*{
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
    margin: 0;
}
@import "header";
@import "main";

.img_main{
    display: block;
    width: 50rem;
    margin: auto; 
}

.h1-titulo{
    background-color: rgb(34, 33, 33);
    color: whitesmoke;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 3rem;
}

.h2-subtitulo{
    text-align: center;
    font-size: 1.25rem;
}

.h3-v2{
    font-size: 1rem;
    text-align: center;
}

.container-promociones{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    border: 0.05rem solid black;
    border-radius: 1rem;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0rem;
    padding: 1rem;
    
    h4{
        grid-column-start: 1;
        grid-column-end: span 6;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 1rem;
        font-weight: bold;
        }
        
    .promo-tarjeta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
        .tarjeta{
            width: 90%;
            height: 55%;
        }    
        
        .promo-texto{
            font-size: 0.6rem;
            font-weight: 600;
            text-align: center;
            padding-top:1rem;
        }
    }
}

.reserva{
    text-align: center;
    background-color: #c7ced1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0.5rem;
    
    .container-reserva{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;

        .index_pais{
            margin-left: 0.5rem;
            background-color: #e8e8e8;      
        }

        .index_ciudad{
            margin-left: 1rem;
            margin-right: 1rem;
            background-color: #e8e8e8;
        }
        .index_fecha{
            margin-left: 1.5rem;
            background-color: #e8e8e8;
            width: 100%;
            height: 100%;
            padding-left: 1rem;
        }
    }
}

.tabla{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;

    .linea_selec{
        background-color: #e42121;
        color: whitesmoke;
        font-weight: bold;
    }
}

@import "footer";

/* Responsive para 320px */

@media (max-width: 321px){
    *{
        font-size: 1rem;
        margin:0;
        box-sizing: border-box;
    }
    .img_main{
        width: 20rem;
        height: auto;
    }

    .h1-titulo{
        font-size: 2rem;
    }
    
    .container-promociones{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        
        h4{
            grid-column-start: 1;
            grid-column-end: span 3;
            padding: 0rem;
            font-size: 0.9rem;
        }
    
        .promo-tarjeta{
            padding: 0.5rem;  

            .tarjeta{
                width: 90%;
                height: 55%;
            } 
        }
    }
    
    .reserva{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    
        .container-reserva{
            display: flex;
            flex-direction: column;
    
            .index_pais{
                margin: 0rem;
                margin-bottom: 1rem;
            }
    
            .index_ciudad{
                margin: 0rem;
                margin-bottom: 1rem;
            }
            .index_fecha{
                margin: 0rem;
            }
        }  
    }

    .tabla{
        display: flex;
        justify-content: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;

        .table{ 
            margin-left: 0rem;
            margin-right: 0rem;
            width: 100%;
            display: flex;
            justify-content: center;
           
            
            tbody{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 19rem;
                margin-top: 0.1rem;
                margin-left: 0rem;
                margin-right: 0rem;
                .table-dark{
                    display: flex;
                    flex-direction: column;
                    th{
                        width: 5rem;
                        font-size: 0.6rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }    
            
                .table-light{
                    display: flex;
                    flex-direction: column;
                    
                    td{ 
                        width: 4.2rem;
                        font-size: 0.6rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                } 

                .linea_selec{
                display: flex;
                flex-direction: column;
                
                td{
                    width: 4.2rem;
                    font-size: 0.6rem;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                }      
            }
            
        }
    }

    .footer-container{
        margin-top: 0.6rem;

        ul.ul_footer{
            margin-left: 0.5rem;
            margin:0rem;
            padding: 0rem;
        }

        ul.ul_footer li{
            font-size: 0.5rem;
            padding: 0.3rem;
        }
    }   
}

@media (min-width:321px) and (max-width: 376px){
    *{
        font-size: 1rem;
        margin:0;
        box-sizing: border-box;
    }
    .img_main{
        width: 25rem;
    }

    .h1-titulo{
        font-size: 2rem;
    }

    .container-promociones{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        
        h4{
            grid-column-start: 1;
            grid-column-end: span 3;
            padding: 0rem;
            font-size: 0.9rem;
        }
    
        .promo-tarjeta{
            padding: 0.5rem;  

            .tarjeta{
                width: 90%;
                height: 55%;
            } 
        }
    }
    
    .reserva{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    
        .container-reserva{
            display: flex;
            flex-direction: column;
    
            .index_pais{
                margin: 0rem;
                margin-bottom: 1rem;
            }
    
            .index_ciudad{
                margin: 0rem;
                margin-bottom: 1rem;
            }
            .index_fecha{
                margin: 0rem;
            }
        }  
    }

    .tabla{
        display: flex;
        justify-content: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        .table{ 
            margin-left: 0rem;
            margin-right: 0rem;
            width: 100%;
            display: flex;
            justify-content: center;
           
            
            tbody{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin-top: 0.1rem;
                margin-left: 0rem;
                margin-right: 0rem;
                .table-dark{
                    display: flex;
                    flex-direction: column;
                    
                    th{
                        width: 7rem;
                        font-size: 0.7rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
            }
            .table-light{
                    display: flex;
                    flex-direction: column;
                    
                    td{ 
                        width: 5rem;
                        font-size: 0.7rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
            } 
            .linea_selec{
                display: flex;
                flex-direction: column;
                
                td{
                    width: 5rem;
                    font-size: 0.7rem;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }      
        }
            
    }
}
}
@media (min-width: 376px) and (max-width: 426px){
    *{
        font-size: 1rem;
        margin:0;
        box-sizing: border-box;
    }
    .img_main{
        width: 30rem;
        height: auto;
    }

    .h1-titulo{
        font-size: 2rem;
    }

    .container-promociones{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        
        h4{
            grid-column-start: 1;
            grid-column-end: span 3;
            padding: 0rem;
            font-size: 0.9rem;
        }
    
        .promo-tarjeta{
            padding: 0.5rem;  
            .tarjeta{
                width: 90%;
                height: 55%;
            } 
        }
    }
    
    .reserva{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    
        .container-reserva{
            display: flex;
            flex-direction: column;
    
            .index_pais{
                margin: 0rem;
                margin-bottom: 1rem;
            }
    
            .index_ciudad{
                margin: 0rem;
                margin-bottom: 1rem;
            }
            .index_fecha{
                margin: 0rem;
            }
        }  
    }

    .tabla{
        display: flex;
        justify-content: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        .table{ 
            margin-left: 0rem;
            margin-right: 0rem;
            width: 100%;
            display: flex;
            justify-content: center;
           
            
            tbody{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin-top: 0.1rem;
                margin-left: 0rem;
                margin-right: 0rem;
                .table-dark{
                    display: flex;
                    flex-direction: column;
                    
                    th{
                        width: 7rem;
                        font-size: 0.8rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                }   
                .table-light{
                    display: flex;
                    flex-direction: column;
                    
                    td{ 
                        width: 6rem;
                        font-size: 0.8rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                } 
                .linea_selec{
                display: flex;
                flex-direction: column;
                
                td{
                    width: 6rem;
                    font-size: 0.8rem;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                }      
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 769px){
    *{
        font-size: 1rem;
        margin:0;
        box-sizing: border-box;
    }
    .img_main{
        width: 50rem;
        height: auto;
    }
    .container-promociones{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
        
        h4{
            grid-column-start: 1;
            grid-column-end: span 6;
            padding: 0rem;
            font-size: 0.9rem;
        }
    
        .promo-tarjeta{
            padding: 0.5rem;  
            .tarjeta{
                width: 90%;
                height: 55%;
            } 
        }
    }
    
    .reserva{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    
        .container-reserva{
            display: flex;
            flex-direction: row;
        
            .index_pais{
                margin: 0rem;
                margin-right: 1rem;
            }
    
            .index_ciudad{
                margin: 0rem;
                margin-right: 1rem;
            }
            .index_fecha{
                margin: 0rem;
                height: 2.2rem;
            }
        }  
    }

    .tabla{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;    
    }
}
